.header {
  width: 100%;
  display: flex;
  /* background-color: rgba(0,0,255, .2); */
  border-bottom: 1px solid black;
  padding: 5px 10px 5px 10px;
  height: 50px;
  align-items: center;
  font-size: 20px;
}

.App {
  height: 100%;
}

#root {
  height: 100%;
}


.App-logo {
  height: 50px;
  pointer-events: none;
}

.dropdown-toggle::after { 
  content: none !important; 
} 
.auth-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}